body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(red , rgb(102, 15, 241));
    display: flex;
    justify-content: center;
    align-items: center;
}